@font-face{
  font-family:thefont;
  src:url('../font/font.ttf')
}
body
{
	font-family: thefont;
	background: url("image/bg.jpg") center no-repeat;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.left1 {
width: 50%;
height: 100%;
float: left;
	text-align: center;
}
.right1 {
width: 50%;
	height: 100%;
	text-align: center;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.container-sh {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
	max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center !important;
}
.btn {
  font-family: thefont;
  display: inline-block;
  font-weight: 400px;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 5px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 0;
  margin-bottom: 3px;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn:hover {
  color: #fff;
  background-color: #212529;
  text-decoration: none;
}
.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
hr {
  border: 0.5px solid white;	
  overflow: visible;
}
